@import 'src/variables';

.discount-listing-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 850px;
    background: $off-white;
    font-size: $normal-font;
}

@media only screen and (max-width: 1024px) {

    .discount-listing-section {
        flex-direction: column;
        height: 1000px;
    }
}
