@import 'src/variables';

.text-container-height {
    min-height: 500px;
}

.divider-text {
    padding: 4px;
    font-family: $league-spartan;
    font-size: $plus-font;
    border-bottom: 2px solid rgba(41, 41, 41, .2);
    display: flex;
    justify-content: center;
}

.facts-display-section {
    display: flex;
    width: 100%;
    min-height: 500px;
    box-sizing: border-box;
    font-size: $normal-font;
    font-family: $league-spartan;
    color: $dark-gray;
    overflow: hidden;
    $facts-display-section-height: 750px;
    
    .loader-wrapper {
        width: 100%;
        height: $facts-display-section-height;
    }

    .missing-visualizations {
        min-height: 500px;
    }

    .chart-wrapper {
        width: 75%;
        height: fit-content;
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 16px;
        gap: 16px;
        box-sizing: border-box;

        
        .visualizations-container {
           width: 100%; 
        }
    }
}

@media only screen and (max-width: 576px) {

    .facts-display-section {
        flex-direction: column;

        .chart-wrapper {
            width: 100%;
        }
    }
}
