@import 'src/variables';
    

.full {
    min-height: 500px;
    padding: 50px 0;
    background: center / contain no-repeat, lightgray 50% url('/assets/discount_display_background.png');

    .body .discounts {
        margin-bottom: 30px;
    }
}

.discount-display-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background-size: cover;
    box-sizing: border-box;

    h2 {
        color: $base-purple;
        font-size: $x-large-font;
        margin: 0 5%;
        text-align: center;
    }

    h3 {
        font-size: clamp($plus-font, 5vw, $large-font);
        margin: 17px 10% 21px 10%;
        text-align: center;

        span {
            color: $base-purple;
        }
    }

    .body-arrows {
        flex-grow: 1;
        justify-content: center;

        .nav-wrapper-body .discounts {
            margin: 0 16px;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;

        .discounts {
            display: flex;
            padding: 0;
            list-style: none;
            width: 840px;
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        .nav-circle-wrapper {
            width: 410px;
        }

    }
}
