@import 'src/variables';

.simplify {
    padding: 15px 0;
    background: $magnolia-white;

    .body .discounts {
        margin-bottom: 15px;
    }
}

.full {
    height: 500px;
    padding: 50px 0;
    background: center / contain no-repeat, lightgray 50% url('/assets/discount_display_background.png');

    .body .discounts {
        margin-bottom: 30px;
    }
}

.discount-display-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background-size: cover;
    box-sizing: border-box;

    h2 {
        color: $base-purple;
        font-family: $league-spartan;
        font-size: $x-large-font;
        margin: 0 5%;
        text-align: center;
    }

    h3 {
        font-family: $league-spartan;
        font-size: clamp($plus-font, 5vw, $large-font);
        margin: 17px 10% 21px 10%;
        text-align: center;

        span {
            color: $base-purple;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;

        .discounts {
            display: flex;
            padding: 0;
            list-style: none;
            width: 840px;
            gap: 10px;
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

    }
}

@media only screen and (max-width: 576px) {

    .discount-display-section {

        .body {
            flex-direction: row;
            justify-content: center;
            
            .discounts {
                margin: 0 15px;
            }

            .left-button-placeholder {
                width: 49px;
            }

            .move-button {
                display: flex;
                background: $base-purple;
                padding: 10px;
                border-radius: 25px;
            }

            .move-button img {
                height: 25px;
                width: 25px;
            }

            .nav-circle-wrapper {
                display: none;
            }

            .move-left-button img {
                transform: scale(-1, 1);
                transform-origin: center;
            }
    
        }

    }
}
