@import 'src/variables';

.divider-text {
    padding: 4px;
    font-family: $league-spartan;
    font-size: $plus-font;
    border-bottom: 2px solid rgba(41, 41, 41, .2);
    display: flex;
    justify-content: center;
}

.facts-display-section {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    font-size: $normal-font;
    font-family: $league-spartan;
    color: $dark-gray;
    overflow: hidden;
    $facts-display-section-height: 750px;
    
    .loader-wrapper {
        width: 100%;
        height: $facts-display-section-height;
    }

    .missing-visualizations {
        min-height: 500px;
    }

    .facts-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        gap: 16px;
        width: 25%;
        height: 500px;
        max-width: 300px;
        background: $magnolia-white;
        border-right: 1px solid rgba(41, 41, 41, .2);
        box-sizing: border-box;
        transition-duration: 0.4s;

        .taxonomy-options-wrapper {
            height: fit-content;
            gap: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .data-selection-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            overflow-y: auto;
        }
    }

    .chart-wrapper {
        width: 75%;
        height: fit-content;
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 16px;
        gap: 16px;
        box-sizing: border-box;

        
        .visualizations-container {
           width: 100%; 
        }
    }
}
