@import 'src/variables';

.discount-profile-section {
    display: flex;
    padding: 16px 32px;
    border-bottom: 1px solid rgba(41, 41, 41, 0.2);
    background: $off-white;
    flex-direction: column;
    font-size: $normal-font;
    width: 100%;
    box-sizing: border-box;

    .definitions-section {
        padding: 0;
        max-width: none;

        .description-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
            
            .discount-description {
                line-height: 24px;
                margin: 0;
                max-height: 300px;
                overflow: auto;
            }
        }
    }

    .company-information-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}