@import 'src/variables';

.header-text {
    display: inline-block;
    width: calc(100% - 31px);
}

.sortArrow {
    position: relative;
    top: 2px;
    height: 15px;
    width: 15px;
    padding: 0 8px;
}

.discount-table {

    table {
    
        thead {
            background: $base-purple;
            color: $off-white;
            border-bottom: 1px solid $dark-gray;
    
            th {
                padding: 16px 16px;
                cursor: pointer;
            }
    
            th:hover {
                background-color: $light-purple;
            }
        }
    
        tbody {
    
            tr {
                cursor: pointer;

                td {
                    padding: 16px;
                    border-bottom: 1px solid $light-gray;
                }
            }
    
            tr:hover {
                background: $magnolia-white;
            }
        }
    }    
}
