@import 'src/variables';

.table-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-text {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
}

.sortArrow {
    height: 15px;
    width: 15px;
    margin: 0 8px;
}

.discount-table {

    table {
    
        thead {
            background: $base-purple;
            color: $off-white;
            border-bottom: 1px solid $dark-gray;
    
            th {
                padding: 16px 16px;
                cursor: pointer;
            }
    
            th:hover {
                background-color: $light-purple;
            }
        }
    
        tbody {
    
            tr {
                cursor: pointer;

                td {
                    padding: 16px;
                    border-bottom: 1px solid $light-gray;
                }
            }
    
            tr:hover {
                background: $magnolia-white;
            }
        }
    }    
}

@media only screen and (max-width: 576px) {
    .table-header-content .popup-wrapper .message-dialog {
        top: 24px;
        left: -90px;
    }
}
