@import 'src/variables';

.search-filter-form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-top: 1px solid rgba(41, 41, 41, .2);
    font-family: $league-spartan;
    padding: 16px;
}