@import 'src/variables';

.data-list {
    list-style-type: none;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 8px;
    
    .data-list-item {
        display: flex;
        justify-content: space-between;
        flex: 33%;
        padding: 4px;
        max-width: calc(50% - 12px);
        
        .text {
            background: inherit;
        }
    }

    .data-list-item:hover {
        background: $magnolia-white;
    }
}

.data-list :nth-child(odd) {
    background: $off-white;
}

.data-list :nth-child(even) {
    background: $light-gray;
}