@import 'src/variables';

.multi-function-vertical {
    flex-direction: column;
    width: 30%;
    max-width: 300px;
    border-right: 1px solid rgba(41, 41, 41, .2);
    height: 100%;
    --multi-function-gap: 32px;

    .main-content {
        flex-direction: column;
    }
}

.multi-function-horizontal {
    width: 100%;
    border-bottom: 1px solid rgba(41, 41, 41, .2);
    --multi-function-gap: 16px;
    flex-direction: column;

    .main-content {
        flex-direction: row;
        flex-wrap: wrap;
        
        .item {
            flex: 33%;
        }
    }
}


.multi-side-nav {
    display: flex;
    padding: 24px;
    box-sizing: border-box;
    background: $magnolia-white;
    justify-content: space-between;

    .main-content {
        display: flex;
        gap: var(--multi-function-gap);
        width: 100%;

        .side-nav-label {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 0 8px 0;
            gap: 8px;
            align-items: center;
            flex-direction: row;
    
            .svg-icon-wrapper {
                background: $base-purple;
                border-radius: 4px;
            }
        }
    
            
        .item.two-halves-item {
            gap: var(--multi-function-gap);
            justify-content: space-between;
        }
    
        .item {
            display: flex;
            flex-direction: column;
            z-index: 1;

            .item-label {
                padding: 4px;
                font-size: $normal-font;
                display: flex;
                justify-content: center;
                margin-bottom: 4px;
                width: fit-content;
                text-wrap: nowrap;
            }
    
            .multi-toggle {
                gap: 8px;
                padding: 4px;
                text-wrap: nowrap;
            }
        }
    }


    .bottom-button-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: var(--multi-function-gap);

    }
}

@media only screen and (max-width: 576px) {
    .multi-function-horizontal .main-content {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}