@import 'src/variables';

.standalone-search-bar {
    width: 100%;

    .results-dropdown {
        height: 300px;
    }
}

.sticky-search-bar {
    transition-duration: 0.4s;
    width: var(--sticky-search-bar-width, 64px);
    height: var(--sticky-search-bar-height, 64px);
}

.search {
    box-sizing: border-box;
    flex-direction: column;

    .search-bar-wrapper {
        display: flex;
        color: $base-purple;
        align-items: center;
    }
}

.display-search-bar {
    width: 450px;
    padding: 0 16px;
}

.display-filter-form {
    height: 206px;
}

.display-search-results {
    height: 410px;
}
