@import 'src/variables';

.standalone-search-bar {
    width: 100%;

    .results-dropdown {
        height: 300px;
    }
}

.sticky-search-bar {
    width: var(--sticky-menu-height);
    height: var(--sticky-menu-height);
}

.expandable-search {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
}

.expandable-search-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #DFDFDF;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 450px;
    top: 64px;
    height: 0;
    transition-duration: 0.4s;

    .responsive-table-wrapper {
        padding: 0 16px;
        margin-bottom: 16px;
        max-width: 450px;
    }
}

.search {
    box-sizing: border-box;
    flex-direction: column;
    transition-duration: 0.4s;

    .search-bar-wrapper {
        display: flex;
        color: $base-purple;
        align-items: center;

        .svg-icon-wrapper {
            margin: 4px;
        }
    }
}

.display-search-bar {
    width: 450px;
    padding-right: 16px;
}

.display-filter-form {
    height: 140px;
    clip-path: inset(0px -10px -10px -10px);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.display-search-results {
    height: 410px;
}

@media only screen and (max-width: 576px) {
    
    .expandable-search-dropdown {
        width: 100vw;
        left: -64px;
    }

    .display-search-bar {
        width: 100%;
    }
}
