@import 'src/variables';

.zero-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 16px;
    min-height: 200px;

    .message {
        font-size: $plus-font;
    }

}