@import 'src/variables';

.about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
    padding: 65px 50px 50px 50px;
    box-sizing: border-box;
    max-width: 1000px;
    gap: 50px;

    .image {
        background-image: url('/assets/about_image_full.jpg');
        background-size: cover;
        background-position: -100px 0px;
        max-width: 420px;
        flex: 1;
        height: 370px;
    }

    .body {
        width: 420px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h2 {
            margin: 0;
            font-size: $x-large-font;
            text-wrap: balance;

            span {
                color: $base-purple;
            }
        }

        h3 {
            margin: 17px 0 5px 0;
            font-size: $large-font;
        }

        p {
            font-family: $libre-baskerville;
            font-size: $normal-font;
            line-height: 24px;
        }

        .read-more-button {
            height: 50px;
            width: 200px;
            font-size: $plus-font;
            border-radius: 4px;
            border: 2px solid $dark-gray;
            transition-duration: 0.4s;
            background: $off-white;
            cursor: pointer;
        }

        .read-more-button:hover {
            background: $base-purple;
            color: $off-white;
        }

        .read-more-button:focus {
            outline: 1px solid $dark-gray;
            outline-offset: -8px;
        }

    }
}

@media only screen and (max-width: 768px) {

    .about {
        padding: 50px 0 50px 0;

        .logo {
            display: flex;
            height: 96px;
            width: 96px;
        }

        .image {
            display: none;
        }

        .body {
            width: 100%;
            margin: 0 10%;

            .body-header {
                display: flex;
                flex-direction: row;
                gap: 25px;
            }
        }
    }
}

@media only screen and (max-width: 673px) {

    .about {
        .logo {
            height: 140px;
            width: 140px;
        }
    }
}

@media only screen and (max-width: 576px) {

    .body {

        .logo {
            display: none;
        }

        h3 {
            display: none;
        }
    }
}