@import 'src/variables';

.horizontal-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $light-gray;

    .horizontal-section-content {
        display: flex;
        max-width: 1250px;
        flex-wrap: wrap;

        .block-sections-display {
            flex: 40%;
        }

        .facts-link-section {
            flex: 60%;
        }
    }
}

.vertical-section {
    width: 100%;
    background: $light-gray;
    display: flex;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;

    .vertical-section-content {
        display: flex;
        flex-direction: column;
        max-width: 1250px;

        .valuations-header-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h2 {
                color: $base-purple;
                font-family: $league-spartan;
                font-size: $x-large-font;
                margin: 0;
                text-align: right;
            }

            h3 {
                font-family: $league-spartan;
                font-size: clamp($plus-font, 5vw, $large-font);
                margin: 17px 0 0 0;
                text-align: right;
                line-height: 32px;
            }
        }
    }
}

@media only screen and (max-width: 576px) {

    .vertical-section {
        width: auto;

        .vertical-section-content {
            align-items: center;

            .valuations-header-container {
                align-items: center;

                h3 {
                    text-align: center;
                    padding: 0 32px;
                    margin: 17px 0 17px 0;
                }
            }
        }
    }
}