@import 'src/variables';

.data-list {
    list-style-type: none;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    
    .data-list-item {
        display: flex;
        justify-content: space-between;
        flex: 33%;
        padding: 4px;
        max-width: calc(50% - 12px);
        
        .text {
            background: inherit;
            display: flex;
            align-items: center;

            .svg-icon-wrapper, .svg-component {
                background: inherit;
            }
        }

        .key {
            padding-right: 16px;
        }

        .value {
            text-align: end;
        }
    }

    .data-list-item:hover {
        background: $magnolia-white;
        outline: 1px solid $light-purple;
        outline-offset: -1px;
        border-radius: 4px;
    }
}

.data-list :nth-child(odd) {
    background: $off-white;
}

.data-list :nth-child(even) {
    background: $light-gray;
}

@media only screen and (max-width: 576px) {

    .data-list {
        flex-direction: column;
        
        .data-list-item {
            flex: 1;
            width: 100%;
            max-width: none;
            box-sizing: border-box;
        }
    }
}