@import 'src/variables';

.inactive {
    border: 3px solid $dark-red;
}

.active {
    border: 3px solid $emerald-green;
}

.discount-card {
    height: 205px;
    min-width: 200px;
    box-sizing: border-box;
    background: $light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 19px 21px;
    margin: 0 5px;

    .company-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        .symbol {
            color: $dark-gray;
            font-family: $league-spartan;
            font-size: $large-font;
            font-weight: 600;
            padding-top: 10px;
        }
    
        .name {
            color: $dark-gray;
            font-family: $libre-baskerville;
            font-size: $normal-font;
            font-weight: 400;
            text-align: center;
            padding-top: 16px;
        }
    }

    .tty-price {
        color: $dark-gray;
        font-family: $league-spartan;
        font-size: $large-font;
        font-weight: 600;
    }
}

@media only screen and (max-width: 576px) {

    .discount-card { 
        height: 205px;
        min-width: 200px;
        box-sizing: border-box;
        background: $light-gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 19px 21px;
        margin: 0 5px;
    }
}