@import 'src/variables';

.fixed-header-height {
    height: 500px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    background: center / contain no-repeat, lightgray 50% url('/assets/header_background.png');
    background-size: cover;

    .logo-wrapper {
        display: flex;
        flex: 0.2;
        flex-direction: column;
        align-items: center;
        min-width: 150px;
        max-height: 100%;

        .logo {
            padding: 25px 0;
            width: 66%;
            min-height: 100px;
            min-width: 100px;
        }
    }

    .title-wrapper {
        display: flex;
        flex: 0.8;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        
        h1 {
            font-size: clamp($x-large-font, 5vw, $xx-large-font);
            font-weight: 600;
            line-height: normal;
            margin: 25px 0;
        }

        h2 {
            margin: 0;
            font-size: clamp($large-font, 5vw, $x-large-font);
            font-weight: 500;
            line-height: normal;
            padding: 0 25px 25px;
        }
    }
}

@media only screen and (max-width: 768px) {
   
    .header {
        .logo-wrapper {
            display: none;
        }
    
        .title-wrapper {
            flex: 1;
        }
    }
}
