.brp-steps-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 16px;
    padding-inline-start: 24px;
}

.brp-step-content {
    margin: 8px 0 0 16px;

    label {
        text-decoration: underline;
    }
}