@import 'src/variables';

.nav-circle-wrapper {
    display: flex;
    gap: 15px;
    padding-top: 29px;
    
    .active {
        background: $base-purple;
    }

    .inactive {
        background: $off-white;
    }

    .nav-circle {
        height: 15px;
        width: 15px;
        border-radius: 10px;
        transition-duration: 0.4s;
        border: 1px solid $dark-gray;
        cursor: pointer;
    }

    .nav-circle:hover {
        background: $base-purple;
    }
}