@import 'src/variables';


.search-results-table {

    table {
    
        .company-name {
            text-align: right;
        }

        td {
            word-break: break-word;
        }

        thead {
            background: $light-gray;
            
            th {
                padding: 4px 8px;
                border-bottom: 1px solid $dark-gray;
            }
        }
    
        tbody {
    
            tr:hover {
                background: $magnolia-white;
            }

            td {
                padding: 16px 8px;
            }
        }

        tbody :not(:last-child) td {
            border-bottom: 1px solid $light-purple;
        }
    }    
}
