@import 'src/variables';

.about-section {
    display: flex;
    flex-direction: column;
    padding: 32px;
    line-height: 20px;
    font-size: clamp($normal-font, 2vw, $above-normal-font);
    line-height: 24px;

    .definitions-section {
        max-width: none;
        padding: 0 0 32px 16px;
    }

} 