@import 'src/variables';

.facts-identity-wrapper {
    width: 100%;
    border-bottom: 1px solid rgba(41, 41, 41, 0.2);
    border-top: 1px solid rgba(41, 41, 41, 0.2);

        
    .facts-identity {
        display: flex;
        align-items: center;
        padding: 24px;
        gap: 16px;
        background: #DFDFDF;
        justify-content: space-between;

        .text-container {
            display: flex;
            flex-direction: column;
            gap: 12px;
            text-align: right;
            flex-grow: 1;
            
            .name {
                font-size: $large-font;
                font-weight: 600;
                color: $base-purple;
            }
            
            .symbol {
                font-size: $hefty-font;
            }
        }
    }
}
