@import 'src/variables';

.block-sections-display {
    display: flex;
    justify-content: center;
    width: 100%;
    background: $light-gray;
    box-sizing: border-box;
    flex-wrap: wrap;

    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 300px;
        max-width: 500px;
        padding: 32px;
        text-align: center;
        font-size: $normal-font;
        line-height: 20px;
        box-sizing: border-box;
        row-gap: 12px;
        flex: 33%;
        justify-content: center;

        .block-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .block-title {
                font-size: $above-normal-font;
                font-weight: 600;
                margin: 8px 0 12px 0;
            }   
        } 

        .block-link {
            margin-top: 16px;
        }

    }
}

.definition-block-contents {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: $disabled-gray;
    
    .list-title {
        margin: 16px 0 8px 0;
        align-self: center;
        color: $dark-gray;
    }

    .list {
        align-self: center;
        text-align: left;
        line-height: 24px;
        margin-left: 16px;
    }
}

@media only screen and (max-width: 576px) {

    .block-sections-display .block {
        width: 100%;
        padding: 16px;
    }
}