@import 'src/variables';

.row-reverse {
    flex-direction: row-reverse;
}

.adjacent-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .adjacent-nav-button {
        display: flex;
        align-items: center;
        column-gap: 16px;
        background: $magnolia-white;
        color: $base-purple;
        padding: 8px 12px;
        margin: 16px;
        transition-duration: 0.4s;
        border-radius: 4px;
    }

    .adjacent-nav-button:hover {
        background: $base-purple;
        color: $magnolia-white;
        
        img {
            filter: brightness(0) saturate(100%) invert(94%) sepia(59%) saturate(20%) hue-rotate(346deg) brightness(120%) contrast(92%);
        }
    }

    .adjacent-nav-button-left {
        flex-direction: row-reverse;
    }

}