@import 'src/variables';

.facts-link-section {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        color: $base-purple;
        font-family: $league-spartan;
        font-size: $x-large-font;
        margin: 0 5%;
        text-align: center;
    }

    h3 {
        font-family: $league-spartan;
        font-size: clamp($plus-font, 5vw, $large-font);
        margin: 17px 10% 21px 10%;
        text-align: center;
        line-height: 32px;
    }

    .search-navigation-button-wrapper {
        max-height: 0;
        max-width: 0;
        position: relative;
        top: 82.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        --submit-button-height: auto;
        --submit-button-width: auto;
        --submit-button-padding: 8px 8px 8px 16px;
        --submit-button-font-size: clamp(24px, 5vw, 32px);
    }

    .company-icon-list-box {
        width: calc(100% - 216px);
        height: 215px;
        background-image: url('/assets/companies.png');
        background-size: cover;
        background-position: center;
        max-width: 1200px;
        filter: blur(1px);
    }
}

@media only screen and (max-width: 576px) {

    .facts-link-section .company-icon-list-box {
        width: calc(100% - 100px);
    }
}

