@import 'src/variables';

.facts-link-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $light-gray;

    .main-content {
        padding: 50px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        max-width: 1250px;
    }
    
    h2 {
        color: $base-purple;
        font-family: $league-spartan;
        font-size: $x-large-font;
        margin: 0;
        text-align: right;
    }

    h3 {
        font-family: $league-spartan;
        font-size: clamp($plus-font, 5vw, $large-font);
        margin: 17px 0 21px 0;
        text-align: right;
        line-height: 32px;
    }

    .search-navigation-button-wrapper {
        max-height: 0;
        width: 100%;
        position: relative;
        top: 82.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        --submit-button-height: auto;
        --submit-button-width: auto;
        --submit-button-padding: 8px 8px 8px 16px;
        --submit-button-font-size: 24px;
    }

    .company-icon-list-box {
        width: 100%;
        height: 215px;
        background-image: url('/assets/companies.png');
        background-size: cover;
        background-position: center;
        max-width: 1200px;
        filter: blur(1px);
    }
}

@media only screen and (max-width: 576px) {

    .facts-link-section .main-content {
        padding: 32px;
        align-items: center;

        h3 {
            text-align: center;
        }
    }
}

