@import 'src/variables';

.side-nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
    width: 25%;
    height: 500px;
    max-width: 300px;
    background: $magnolia-white;
    border-right: 1px solid rgba(41, 41, 41, .2);
    box-sizing: border-box;
    transition-duration: 0.4s;

    .divider-text {
        padding: 4px;
        font-family: $league-spartan;
        font-size: $plus-font;
        border-bottom: 2px solid rgba(41, 41, 41, .2);
        display: flex;
        justify-content: center;
    }
    
    .side-nav-options-wrapper {
        height: fit-content;
        gap: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .data-selection-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 576px) {

    .side-nav-wrapper {
        width: 100%;
        height: 100%;
        max-height: 300px;
        max-width: unset;
        flex-direction: row;
        align-items: flex-start;

        .data-selection-box {
            max-height: 268px;
            flex: 50%;
        }

        .side-nav-options-wrapper {
            flex: 50%;
        }
    }
}