@import 'src/variables';

.home-button {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 40px;
        width: 40px;
        fill: $base-purple;
    }
}