@import 'src/variables';

.contact-form {
    display: flex;
    flex-direction: column;
    font-family: $league-spartan;
    color: $dark-gray;

    h2 {
        margin: 0 0 18px 0;
        font-weight: 600;
    }

    span {
        margin: 0 0 18px 0;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 202px;

        .text-field {
            border-radius: 4px;
            border: 1px solid $dark-gray;
            background: $magnolia-white;
            font-family: $libre-baskerville;
            padding-inline: 8px;
        }
        
        textarea {
            resize: none;
            height: 100px;
        }
    }
}