@import 'src/variables';

.discount-card {
    height: 205px;
    min-width: var(--discount-card-width, 200px);
    box-sizing: border-box;
    background: $light-gray;
    cursor: pointer;
    border: 2px solid $dark-gray;
    scroll-snap-align: start;
    transition-duration: 0.4s;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    .company-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $dark-gray;
        justify-content: center;

        .symbol-icon-wrapper {
            margin-bottom: 16px;
        }

        .symbol, .valuation {
            font-family: $league-spartan;
            font-size: $large-font;
            font-weight: 600;
        }

        .symbol {
            display: flex;
        }

        .active-icon-wrapper {
            height: 0;
            width: 0;

            img {
                position: relative;
                left: 6px;
            }
        }

        .name, .date {
            font-family: $libre-baskerville;
            font-size: $normal-font;
            font-weight: 400;
            text-align: center;
        }

        .click-for-more {
            font-size: $small-font;
        }

    }

}

.discount-card:hover, .mobile-clicked {
    border: 2px solid $base-purple;
    background: $dark-gray;

    .company-info {
        color: $off-white;
        font-family: $libre-baskerville;
        font-size: $normal-font;
        justify-content: space-between;

        .date {
            font-size: $below-normal-font;
            font-weight: 400;
            text-align: center;
            margin-bottom: 8px;
        }

        .name {
            margin-bottom: 16px;
        }

        .valuation-table {
            width: 175px;
            font-family: $league-spartan;
            margin-bottom: 8px;

            caption {
                text-decoration: underline;
                margin-bottom: 4px;
            }

            td {
                text-align: right;
            }
        }
    }
}
