// Colors 
$base-purple: #8C19D3;
$light-purple: #c596f0;
$dark-gray: #292929;
$light-gray: #DFDFDF;
$inverse-light-gray: #202020;
$off-white: #F5F5F5;
$emerald-green: #228B22;
$dark-red: #C41E3A;
$magnolia-white: #F7EEFD;
$disabled-gray: #767676;

// Font Family
$league-spartan: League Spartan;
$libre-baskerville: Libre Baskerville;

// Font Size
$xx-large-font: 64px;
$x-large-font: 48px;
$large-font: 32px;
$plus-font: 24px;
$hefty-font: 20px;
$normal-font: 16px;
$below-normal-font: 12px;
$small-font: 10px;