// Colors 
$base-purple: #8C19D3;
$dark-gray: #292929;
$light-gray: #DFDFDF;
$off-white: #F5F5F5;

// Font Family
$league-spartan: League Spartan;
$libre-baskerville: Libre Baskerville;

// Font Size
$xx-large-font: 64px;
$x-large-font: 48px;
$large-font: 32px;
$plus-font: 24px;
$normal-font: 16px;