@import 'src/variables';

body {
    margin: 0;
    background: #F5F5F5;
    font-family: $league-spartan;
    color: $dark-gray;
}

button {
    padding-block: 0;
    padding-inline: 0;
    border-width: 0;
    cursor: pointer;
}

input {
    padding-block: 0;
    padding-inline: 8px;
    border-width: 0;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.valuation-definition {
    line-height: 20px;
    font-size: $normal-font;
    
    .subheader {
        margin: 0;
    }

    p {
        margin: 0 0 16px 0;
    }

}

.flex-start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.hide {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: $light-purple;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: $base-purple;
}

.league-spartan {
    font-family: $league-spartan;
    color: $dark-gray;
    font-size: $normal-font;
}
