@import 'src/variables';

.sticky-menu {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    background: $light-gray;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    --sticky-menu-height: 64px;

    .redirect-options-list {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
    }

    .options-list {
        display: flex;
        align-items: center;
        
        .sticky-menu-option {
            display: flex;
            max-height: var(--sticky-menu-height);
        }
    }

}
