@import 'src/variables';

.site-map {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $league-spartan;
    color: $dark-gray;

    .parent-list {
        display: flex;
        width: 100%;
        max-width: 630px;
        justify-content: center;
        padding: 0 50px;
        box-sizing: border-box;
        flex-wrap: wrap;
        row-gap: 24px;
        justify-content: space-evenly;
        margin-right: 24px;

        a {
            text-decoration: none;
        }

        .inactive {
            color: $dark-gray;
        }

        .active {
            color: $base-purple;
        }

        li {
            margin-left: 24px;
        }

    }

}