@import 'src/variables';

.title-text {
    padding: 4px;
    font-size: $plus-font;
    border-bottom: 2px solid rgba(41, 41, 41, .2);
    display: flex;
    justify-content: center;
}

.key-group-wrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 8px;
    width: calc(100% - 16px);

    .data-search-bar {
        position: sticky;
        top: 0;
    }
    
    .key-group {
        display: flex;
        gap: 16px;
    
        .key {
            padding: 8px 16px;
            background-color: $light-gray;
            border: 1px solid rgba(41, 41, 41, .2);
            border-radius: 4px;
            font-size: $normal-font;
        }
    
        .key:hover {
            background-color: $base-purple;
            color: $off-white;
        }
    
        .active {
            background-color: $base-purple;
            color: $off-white;
        }
    }
    
    .vertical {
        flex-direction: column;
    }

    .horizontal {
        flex-direction: row;
        column-gap: 16px;

        .key {
            flex: 33%;
        }
    }

}

