@import 'src/variables';

.data-search-bar {
    width: calc(100% - 80px);
    padding: 8px;
    outline: 1px solid;
    border-radius: 4px;
    font-family: $league-spartan;
    font-size: $normal-font;
    outline-offset: -1px;
}

.key-group {
    display: flex;
    gap: 16px;
    overflow: auto;
    scrollbar-gutter: stable;
    padding-left: 32px;
    width: calc(100% - 32px);

    .key {
        padding: 8px 16px;
        margin-right: 16px;
        background-color: $light-gray;
        color: $dark-gray;
        border: 1px solid rgba(41, 41, 41, .2);
        border-radius: 4px;
        font-size: $normal-font;
        font-family: $league-spartan;
    }

    .key:hover {
        background-color: $base-purple;
        color: $off-white;
    }

    .active {
        background-color: $base-purple;
        color: $off-white;
    }
}

.vertical {
    flex-direction: column;
}
